# shellcheck shell=bash

PATH_add bin
PATH_add script
PATH_add /opt/homebrew/opt/libpq/bin

direnv_load op run --cache --env-file=config/env.1p --env-file=config/env.local.1p --env-file=config/env.rails.1p -- direnv dump
HEROKU_APP={{cookiecutter.project_slug}}
export HEROKU_APP
RAILS_ENV=development
export RAILS_ENV

HEROKU_URL="$(heroku info --json 2>/dev/null | jq -r .app.web_url)"
export HEROKU_URL

# https://github.com/rails/rails/issues/38560 - Ruby 3.2.2, macOS 13.4.1 (c) (22F770820d)
# OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES # Doesn't help
# export OBJC_DISABLE_INITIALIZE_FORK_SAFETY
DISABLE_SPRING=true
export DISABLE_SPRING

BUNDLE_PATH="$(pwd)/vendor/bundle"
export BUNDLE_PATH
GEM_HOME="${BUNDLE_PATH}"
export GEM_HOME
